.Hero {
    display: flex;
    flex-direction: column;
}

.Hero img {
    max-width: 39.5rem;
    align-self: center;
    margin-block: 2.6rem 3.2rem;
}

.Hero h1 {
    font-size: 3.6rem;
    margin-left: 3.6rem;
    /* line-height: 4rem; */
}

.Hero p {
    font-size: 1.6rem;
    max-width: 32rem;
    margin-left: 3.6rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}
