* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    font-size: 62.5%; /* 1 rem = 10px */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: fit-content;
    background-color: #e5e5e5;
    border: 1px solid red;
}
